.gradle
build/
deps/
run/
.kra
.log
.log.gz
run/saves/
run/usercache.json
run/logs/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/gradle.xml

*.gz
run/logs/debug.log
run/logs/latest.log
*.bbmodel
.idea/workspace.xml
.idea/workspace.xml
